<form [formGroup]="addForm">
    <div ibmGrid>
        <div ibmRow class="form-item">
            <ibm-label>
                Lot name: 
                <input
                    ibmText
                    placeholder="Lot Name"
                    [autocomplete]="false"
                    formControlName="lotName"
                    name="lotName">
            </ibm-label>
        </div>
        <div ibmRow class="form-item action">
            <button ibmButton [disabled]="isFormInvalid()">Add</button>
        </div>
    </div>
</form>