<p>Crop Information: {{crop.name}}</p>
<ibm-structured-list [condensed]="true">
    <ibm-list-header>
        <ibm-list-column>Name</ibm-list-column>
        <ibm-list-column>Season</ibm-list-column>
        <ibm-list-column>Time to Harvest</ibm-list-column>
        <ibm-list-column>Yield</ibm-list-column>
    </ibm-list-header>
    <ibm-list-row>
        <ibm-list-column>{{crop.name}}</ibm-list-column>
        <ibm-list-column>{{months[crop.planting_season[0]]}} - {{months[crop.planting_season[1]]}}</ibm-list-column>
        <ibm-list-column>{{crop.time_to_harvest}} Days</ibm-list-column>
        <ibm-list-column>{{crop.yield}} kg/<sup>Ha</sup></ibm-list-column>
    </ibm-list-row>
</ibm-structured-list>
