<div class="content">
    <form [formGroup]="form" class="recommend-form">
        <div ibmGrid>
            <div ibmRow>
                <div ibmCol>
        ​            <fieldset class="bx--fieldset" *ngIf="!loadingCrops" formGroupName="crops">
                        <div *ngFor="let crop of cropsData" >
                            <ibm-checkbox [name]="crop.name" formControlName="{{crop.name}}" class="form-item">
                                {{crop.name}}
                            </ibm-checkbox>
                        </div>
                    </fieldset>
                    <div class="loading skeleton-text" *ngIf="loadingCrops">
                        <ibm-skeleton-text [lines]="1" ></ibm-skeleton-text>
                    </div>

                </div>
            </div>​
            <div ibmRow class="form-item">
                <div ibmCol>
                    <ibm-date-picker label="Plant date" name="plantDate" formControlName="plantDate"></ibm-date-picker>
                </div>
            </div>
    ​
            <div ibmRow class="form-item action">
                <div ibmCol>
                    <button class="bx--btn bx--btn--primary" (click)="recommend()" [disabled] = "isFormInvalid()">Recommend</button>
                </div>
            </div>
        </div>
    </form>
    ​
    <div class="result">
        <h2>Crop recommendations</h2>
        <div class="crop-recom-gauge">
            <div *ngFor="let cropRecom of cropRecomGauge" class="crop-gauge">
                <ibm-gauge-chart [data]="cropRecom.data" [options]="cropRecom.options"></ibm-gauge-chart>
            </div>
        </div>
        <div class="loading skeleton-text" *ngIf="loadingRecom">
            <ibm-skeleton-text [lines]="1" ></ibm-skeleton-text>
        </div>
    </div>

</div>