<form>
    <div ibmGrid>
        <div ibmRow class="form-item">
            <ibm-combo-box [items]="lots" appendInline="true" 
                label="Lot" placeholder="Select Lot" [(ngModel)]="selectedLot" 
                name="lots" (selected)="onSelectedLot($event)">
                <ibm-dropdown-list></ibm-dropdown-list>
            </ibm-combo-box>
        </div>
        <div ibmRow class="form-item">
            <ibm-combo-box [items]="crops" appendInline="true" 
                label="Crop" placeholder="Select Crop" [(ngModel)]="selectedCrop" 
                name="crops" (selected)="onSelectedCrop($event)" type="multi">
                <ibm-dropdown-list></ibm-dropdown-list>
        </ibm-combo-box>
        </div>

        <div ibmRow class="form-item action">
            <button class="bx--btn bx--btn--primary" modal-primary-focus (click)="recommend()" [disabled] = "isFormInvalid()">Recomend</button>
            <button class="bx--btn bx--btn--secondary" modal-primary-focus (click)="closeModal()">Close</button>
        </div>
    </div>
    
</form>
