<!-- <h5>ID: {{lot._id}}</h5> -->
<ibm-table-container>
    
    <ibm-table-toolbar [model]="cropsPlantedModel" #toolbar>
        <ibm-table-toolbar-actions>
            <button ibmButton="primary" [tabindex]="toolbar.selected ? 0 : -1" (click)="harvestCrop()">
                Harvest
                <ibm-icon-corn size="16" class="bx--btn__icon"></ibm-icon-corn>
            </button>
            <button ibmButton="primary" [tabindex]="toolbar.selected ? 0 : -1" (click)="deleteCrop()">
                Delete
                <ibm-icon-delete size="16" class="bx--btn__icon"></ibm-icon-delete>
            </button>
        </ibm-table-toolbar-actions>
        <ibm-table-toolbar-content *ngIf="!toolbar.selected">
            <button ibmButton="primary" size="sm" [tabindex]="toolbar.selected ? -1 : 0" (click)="addPlantedCrop()">
                Add Planted Crop<ibm-icon-sprout size="20" class="bx--btn__icon"></ibm-icon-sprout>
            </button>
        </ibm-table-toolbar-content>
    </ibm-table-toolbar>
    <ibm-table [model]="cropsPlantedModel">
    </ibm-table>
</ibm-table-container>
