<form [formGroup]="searchForm">
    <div ibmGrid class="search-section">
        <div ibmRow class="form-item">
            <div ibmCol>
                <ibm-label>
                    <input
                        ibmText
                        placeholder="Lot Id"
                        [autocomplete]="false"
                        formControlName="lotId"
                        sm
                        name="lotId">
                </ibm-label>
            </div>
            <div ibmCol>
                <button ibmButton [disabled]="isSearchFormInvalid()" sm (click)="findLot()">Search</button>
            </div>
        </div>
    </div>
</form>
<form *ngIf="hasLot()" [formGroup]="updateForm">
    <div ibmGrid>
        <div ibmRow class="form-item">
            <ibm-label>
                Lot name: 
                <input
                    ibmText
                    placeholder="Lot Name"
                    [autocomplete]="false"
                    formControlName="lotName"
                    name="lotName">
            </ibm-label>
        </div>
        <div ibmRow class="form-item action">
            <button ibmButton [disabled]="isFormInvalid()">Update</button>
        </div>
    </div>
</form>