<ibm-modal
    [size]="size"
    [open]="open"
    (overlaySelected)="closeModal()">
    <ibm-modal-header (closeSelect)="closeModal()">
        <h3 ibmModalHeaderHeading>Lot</h3>
    </ibm-modal-header>
    <section ibmModalContent hasForm="true">
        <ibm-tabs>
            <ibm-tab heading="Add">
                <app-add-lot></app-add-lot>
            </ibm-tab>
            <ibm-tab heading="Update">
                <app-update-lot></app-update-lot>
            </ibm-tab>
            <ibm-tab heading="Delete">
                <app-delete-lot></app-delete-lot>
            </ibm-tab>
        </ibm-tabs>
    </section>
    <ibm-modal-footer>
        <button class="bx--btn bx--btn--primary" modal-primary-focus (click)="closeModal()">Close</button>
    </ibm-modal-footer>
</ibm-modal>