<form [formGroup]="cropForm">
    <div ibmGrid>
        <div ibmRow class="form-item">
            <ibm-label>
                Crop name: 
                <input
                    ibmText
                    placeholder="Crop Name"
                    [autocomplete]="false"
                    formControlName="cropName"
                    name="cropName">
            </ibm-label>
        </div>
        <div ibmRow class="form-item">
            <ibm-label>
                Planting Season: 
                <input
                    ibmText
                    placeholder="Planting Season"
                    [autocomplete]="false"
                    formControlName="plantingSeason"
                    name="plantingSeason">
            </ibm-label>
        </div>
        <div ibmRow class="form-item">
            <ibm-label>
                Harvest time: 
                <input
                    ibmText
                    placeholder="Harvest Time"
                    [autocomplete]="false"
                    formControlName="harvestTime"
                    name="harvestTime">
            </ibm-label>
        </div>
        <div ibmRow class="form-item action">
            <button ibmButton [disabled]="isFormInvalid()">Add</button>
        </div>
    </div>
</form>