<ibm-header name="[Platform]">
	<ibm-header-navigation>
		<ibm-header-item routerLink="catalog">Catalog</ibm-header-item>
		<ibm-header-item routerLink="docs">Docs</ibm-header-item>
		<ibm-header-item routerLink="support">Support</ibm-header-item>
		<ibm-header-menu title="Forms">
			<ibm-header-item routerLink="link1">Farmer registration</ibm-header-item>
			<ibm-header-item>Farm lot registration</ibm-header-item>
			<ibm-header-item>Crop registration</ibm-header-item>
		</ibm-header-menu>
		<ibm-header-item routerLink="land-areas">Land Areas</ibm-header-item>
	</ibm-header-navigation>
	<ibm-header-global>
		<ibm-header-action title="action">
			<svg ibmIcon="notification" size="20"></svg>
		</ibm-header-action>
		<ibm-header-action title="action">
			<svg ibmIcon="user--avatar" size="20"></svg>
		</ibm-header-action>
		<ibm-header-action title="action">
			<svg ibmIcon="app-switcher" size="20"></svg>
		</ibm-header-action>
	</ibm-header-global>
</ibm-header>
