<ibm-modal
    [size]="size"
    [open]="open"
    (overlaySelected)="closeModal()">
    <ibm-modal-header (closeSelect)="closeModal()">
        <h3 ibmModalHeaderHeading>Crop</h3>
    </ibm-modal-header>
    <section ibmModalContent hasForm="true">
        <ibm-tabs>
            <ibm-tab heading="Search">
                <app-search-crop></app-search-crop>
            </ibm-tab>
            <ibm-tab heading="Add">
                <app-add-crop></app-add-crop>
            </ibm-tab>
            <ibm-tab heading="Update">
                <app-update-crop></app-update-crop>
            </ibm-tab>
            <ibm-tab heading="Delete">
                <app-delete-crop></app-delete-crop>
            </ibm-tab>
        </ibm-tabs>
    </section>
</ibm-modal>