<form [formGroup]="searchForm">
    <div ibmGrid class="search-section">
        <div ibmRow class="form-item">
            <div ibmCol>
                <ibm-label>
                    <input
                        ibmText
                        placeholder="Crop Id"
                        [autocomplete]="false"
                        formControlName="cropId"
                        sm
                        name="cropId">
                </ibm-label>
            </div>
            <div ibmCol>
                <button ibmButton [disabled]="isSearchFormInvalid()" sm (click)="findCrop()">Search</button>
            </div>
        </div>
        <div ibmRow class="form-item">
            <ibm-notification [notificationObj]="searchNotification" *ngIf="showSearchNotification()">
            </ibm-notification>
        </div>
    </div>
</form>
<form *ngIf="hasCrop()" [formGroup]="updateForm">
    <div ibmGrid>
        <div ibmRow class="form-item">
            <ibm-label>
                Crop name: 
                <input
                    ibmText
                    placeholder="Crop Name"
                    [autocomplete]="false"
                    formControlName="cropName"
                    name="cropName">
            </ibm-label>
        </div>
        <div ibmRow class="form-item">
            <ibm-label>
                Planting Season: 
                <input
                    ibmText
                    placeholder="From Month"
                    [autocomplete]="false"
                    formControlName="plantingSeasonFrom"
                    name="plantingSeasonFrom"
                    class="season-from">
                <input
                    ibmText
                    placeholder="To Month"
                    [autocomplete]="false"
                    formControlName="plantingSeasonTo"
                    name="plantingSeasonTo">
            </ibm-label>
        </div>
        <div ibmRow class="form-item">
            <ibm-label>
                Harvest time: 
                <input
                    ibmText
                    placeholder="Harvest Time (in days)"
                    [autocomplete]="false"
                    formControlName="harvestTime"
                    name="harvestTime">
            </ibm-label>
        </div>
        <div ibmRow class="form-item action">
            <button ibmButton [disabled]="isFormInvalid()" (click)="updateCrop()">Update</button>
        </div>

        <div ibmRow class="form-item">
            <ibm-notification [notificationObj]="updateNotification" *ngIf="showUpdateNotification()">
            </ibm-notification>
        </div>
    </div>
</form>