<form [formGroup]="searchForm">
    <div ibmGrid class="search-section">
        <div ibmRow class="form-item">
            <div ibmCol>
                <ibm-label>
                    <input
                        ibmText
                        placeholder="Crop Id"
                        [autocomplete]="false"
                        formControlName="cropId"
                        sm
                        name="cropId">
                </ibm-label>
            </div>
            <div ibmCol>
                <button ibmButton [disabled]="isSearchFormInvalid()" sm (click)="findCrop()">Search</button>
            </div>
        </div>
    </div>
</form>
<form *ngIf="hasCrop()" [formGroup]="updateForm">
    <div ibmGrid>
        <div ibmRow class="form-item">
            <ibm-label>
                Crop name: 
                <input
                    ibmText
                    placeholder="Crop Name"
                    [autocomplete]="false"
                    formControlName="cropName"
                    name="cropName">
            </ibm-label>
        </div>
        <div ibmRow class="form-item">
            <ibm-label>
                Planting Season: 
                <input
                    ibmText
                    placeholder="Planting Season"
                    [autocomplete]="false"
                    formControlName="plantingSeason"
                    name="plantingSeason">
            </ibm-label>
        </div>
        <div ibmRow class="form-item">
            <ibm-label>
                Harvest time: 
                <input
                    ibmText
                    placeholder="Harvest Time"
                    [autocomplete]="false"
                    formControlName="harvestTime"
                    name="harvestTime">
            </ibm-label>
        </div>
        <div ibmRow class="form-item action">
            <button ibmButton [disabled]="isFormInvalid()">Update</button>
        </div>
    </div>
</form>