<ibm-modal size="lg" [open]="open" (overlaySelected)="closeModal()">
    <ibm-modal-header (closeSelect)="closeModal()">
        <h3 ibmModalHeaderHeading>Add Planted Crop</h3>
    </ibm-modal-header>
    <section ibmModalContent [hasForm]="false">
        <div ibmGrid>
            <div ibmRow class="form-item">
                <ibm-label>
                    Crop name:
                    <input ibmText placeholder="Crop Name" [autocomplete]="false" name="cropName" [ngModel]="crop.name"
                        (input)="setCropName(crop, $event.target.value)">
                </ibm-label>
            </div>
            <div ibmRow class="form-item" fxLayout="row" fxLayoutAlign="space-between center">
                <ibm-date-picker label="Planted:" placeholder="DD/MM/YYYY" [value]="[crop.planted]" dateFormat="d/m/Y"
                    (valueChange)="setCropDate(crop, $event, 'Planted')">
                </ibm-date-picker>
                <ibm-date-picker label="Harvested:" placeholder="DD/MM/YYYY" [value]="[crop.harvested]" dateFormat="d/m/Y"
                    (valueChange)="setCropDate(crop, $event, 'Harvested')">
                </ibm-date-picker>
            </div>

            <ibm-dropdown label="Crop" [appendInline]="true" (selected)="cropSelected($event)" placeholder="Select">
                <ibm-dropdown-list [items]="items"></ibm-dropdown-list>
            </ibm-dropdown>
        
            <div ibmRow class="form-item" fxLayout="row" fxLayoutAlign="space-between center">
                <app-crop-details [crop]="crop.crop"></app-crop-details>
            </div>
        </div>
    </section>
    <ibm-modal-footer>
        <button class="bx--btn bx--btn--primary" modal-primary-focus (click)="save(true)">Save</button>
        <button class="bx--btn bx--btn--secondary" modal-primary-focus (click)="save(false)">Cancel</button>
    </ibm-modal-footer>
</ibm-modal>
