<ibm-modal
    [size]="size"
    [open]="open"
    (overlaySelected)="closeModal()">
    <ibm-modal-header (closeSelect)="closeModal()">
        <h3 ibmModalHeaderHeading>Register</h3>
    </ibm-modal-header>
    <section ibmModalContent hasForm="true">
        <form>
            <div class="bx--text-input__field-wrapper">
                <ibm-label>
                    Name: 
                    <input
                        ibmText
                        placeholder="Name"
                        [autocomplete]="false"
                        [(ngModel)]="name"
                        name="name">
                </ibm-label>
            </div>
            <div class="bx--text-input__field-wrapper">
                <ibm-label>
                    Password: 
                    <input
                        ibmText
                        type="password"
                        placeholder="Password"
                        [autocomplete]="false"
                        [(ngModel)]="password"
                        name="password">
                </ibm-label>
            </div>
            <div class="bx--text-input__field-wrapper">
                <ibm-label>
                    Mobile: 
                    <input
                        ibmText
                        placeholder="Mobile Number"
                        [autocomplete]="false"
                        [(ngModel)]="mobileNumber"
                        name="mobileNumber">
                </ibm-label>
            </div>
        </form>
    </section>
    <ibm-modal-footer>
        <button class="bx--btn bx--btn--primary" modal-primary-focus (click)="register()" [disabled] = "isFormInvalid()">Register</button>
        <button class="bx--btn bx--btn--secondary" modal-primary-focus (click)="closeModal()">Close</button>
    </ibm-modal-footer>
</ibm-modal>