<ibm-header name="Open Harvest" [route]="['/', '/recommendation']">
	<ibm-header-navigation>
		<ibm-header-item [route]="['/dashboard']" [useRouter] ="true" [activeLinkClass]="'active'">Dashboard</ibm-header-item>
		<ibm-header-item *ngIf = "isUserLoggedIn()" [route]="['/recommendation']" [useRouter] ="true" [activeLinkClass]="'active'">Recommendation</ibm-header-item>
		<ibm-header-item *ngIf = "isUserLoggedIn()" (click) = "lotDialog()">Lot</ibm-header-item>
		<ibm-header-item *ngIf = "isUserLoggedIn()" (click) = "cropDialog()">Crop</ibm-header-item>
		<ibm-header-item *ngIf = "isUserLoggedIn()" [route]="['/lot-assignment']" [useRouter] ="true" [activeLinkClass]="'active'">Lot Assignment</ibm-header-item>
	</ibm-header-navigation>
	<ibm-header-global>
		<ibm-header-navigation>
			<ibm-header-menu [title]="username" *ngIf = "isUserLoggedIn()">
				<ibm-header-item (click) = "logout()">Sign Out</ibm-header-item>
			</ibm-header-menu>
			<ibm-header-menu title="Account" *ngIf = "!isUserLoggedIn()" ibmIcon="user--avatar">
				<ibm-header-item (click) = "registerDialog()">Register</ibm-header-item>
				<ibm-header-item (click) = "loginDialog()">Sign In</ibm-header-item>
			</ibm-header-menu>
		</ibm-header-navigation>
	</ibm-header-global>
</ibm-header>
