<ibm-header name="[Platform]">
	<ibm-header-navigation>
		<ibm-header-item *ngIf = "isUserLoggedIn()" (click) = "lotDialog()">Lot</ibm-header-item>
		<ibm-header-item *ngIf = "isUserLoggedIn()" (click) = "cropDialog()">Crop</ibm-header-item>
		<ibm-header-item *ngIf = "isUserLoggedIn()" (click) = "recommendationDialog()">Recommendation</ibm-header-item>
		
	</ibm-header-navigation>
	<ibm-header-global>
		<ibm-header-navigation>
			<ibm-header-menu title="User Name" *ngIf = "isUserLoggedIn()">
				<ibm-header-item (click) = "logout()">Sign Out</ibm-header-item>
			</ibm-header-menu>
			<ibm-header-menu title="Farmer" *ngIf = "!isUserLoggedIn()" ibmIcon="user--avatar">
				<ibm-header-item (click) = "registerDialog()">Register</ibm-header-item>
				<ibm-header-item (click) = "loginDialog()">Sign In</ibm-header-item>
			</ibm-header-menu>
		</ibm-header-navigation>
	</ibm-header-global>
</ibm-header>