// To change the theme uncomment the below import and which ever carbon theme you want to use
// @import '~carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/themes/theme-maps';
// $carbon--theme: $carbon--theme--g100;
// $carbon--theme: $carbon--theme--g90;
// $carbon--theme: $carbon--theme--g10;

@import "~carbon-components/scss/globals/scss/styles";

@import "~@carbon/charts/styles/styles";
@import "./assets/scss/carbon-override.scss";

html, body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

main.bx--content {
  height: calc(100% - 3rem);
  display: flex;
  justify-content: center;
  overflow: auto;
}
