// To change the theme uncomment the below import and which ever carbon theme you want to use
// @import '~carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/themes/theme-maps';
// $carbon--theme: $carbon--theme--g100;
// $carbon--theme: $carbon--theme--g90;
// $carbon--theme: $carbon--theme--g10;

@import "~carbon-components/scss/globals/scss/styles";

@import "~@carbon/charts/styles/styles";
@import "./assets/scss/carbon-override.scss";

html, body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

main.bx--content {
  height: calc(100% - 3rem);
  display: flex;
  justify-content: center;
  overflow: auto;
}

// Remove right 25% padding on accordian items
ibm-accordion-item.nopadding {
  div {
    padding-right: 0%;
  }
}

// .bx--content {
//   padding: 0 !important;
// }

// CSS highlight without JS errors...
a.active::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: -2px;
    left: 0;
    width: 100%;
    border-bottom: 3px solid #4589ff;
    content: "";
}
