<ibm-modal size="sm" [open]="open" (overlaySelected)="closeModal()">
    <ibm-modal-header (closeSelect)="closeModal()">
        <h3 ibmModalHeaderHeading>Add Planted Crop</h3>
    </ibm-modal-header>
    <section ibmModalContent [hasForm]="false">
        <div ibmGrid>
            <div ibmRow class="form-item">
                <ibm-date-picker label="Harvest Date:" placeholder="DD/MM/YYYY" [value]="[date]" dateFormat="d/m/Y"
                    (valueChange)="setCropDate($event)"></ibm-date-picker>
            </div>
        </div>
    </section>
    <ibm-modal-footer>
        <button class="bx--btn bx--btn--primary" modal-primary-focus (click)="save(true)">Save</button>
        <button class="bx--btn bx--btn--secondary" modal-primary-focus (click)="save(false)">Cancel</button>
    </ibm-modal-footer>
</ibm-modal>