.dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;

  .tiles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    ibm-tile {
      width: 21rem;
      background-color: #dfecff;
      display: flex;
      flex-direction: column;
      align-items: center;

      .title h5 {
        text-transform: capitalize;
      }
    }
  }

  .graphics {
    display: flex;
    width: 100%;
  }
}

:host {
  display: flex;
  width: 100%;
  .area-chart {
    margin: 1rem;
    flex: auto;
  }
  .donut-chart {
    margin: 1rem;
  }
  .line-chart {
    margin: 1rem;
    float: footer;
    flex: auto;
  }


  ibm-donut-chart {
    height: 500px;
    width: 500px;

  }
}
