<div class="dashboard">
    <div class="tiles">
        <ibm-tile>
            <div class="title"><h5>Total Farmers</h5></div>
            <div class="content"><h6>100</h6></div>
        </ibm-tile>
        <ibm-tile>
            <div class="title"><h5>Total crops planted</h5></div>
            <div class="content"><h6>10</h6></div>
        </ibm-tile>
        <ibm-tile >
            <div class="title"><h5>Total crops harvested</h5></div>
            <div class="content"><h6>50</h6></div>
        </ibm-tile>
        <ibm-tile>
            <div class="title"><h5>Total lots</h5></div>
            <div class="content"><h6>200</h6></div>
        </ibm-tile>
        <ibm-tile>
            <div class="title"><h5>Total area registered</h5></div>
            <div class="content"><h6>1000</h6></div>
        </ibm-tile>
    </div>

    <div class="graphics">
        <div class="donut-chart">
            <ibm-donut-chart [data]="data" [options]="options" ></ibm-donut-chart>
        </div>
        <div class="area-chart">
            <ibm-stacked-area-chart [data]="data2" [options]="options2"></ibm-stacked-area-chart>
        </div>
    </div>
    <div class="graphics">
        <div class="line-chart">
            <ibm-line-chart [data]="data3" [options]="options3"></ibm-line-chart>
        </div>
    </div>
</div>


